vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Aug 2013 11:50:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timecreated:TR|12 Aug 2013 18:39:20 -0000
vti_backlinkinfo:VX|rak.html rak2.html main-backup.html 26/main.html main2.html
vti_syncwith_68.178.246.6\:21/yalecc:TX|16 Aug 2013 11:50:03 -0000
vti_syncofs_68.178.246.6\:21/yalecc:TW|16 Aug 2013 11:50:40 -0000
vti_nexttolasttimemodified:TW|16 Aug 2013 11:50:03 -0000
vti_cacheddtm:TX|16 Aug 2013 11:50:38 -0000
vti_filesize:IR|9579
vti_cachedlinkinfo:VX|S|img2/texture.jpg S|assets/images/logo-sm.png S|../images/page-backgrounds/texture.jpg S|assets/images/logo.png
vti_cachedsvcrellinks:VX|FSUS|26/img2/texture.jpg FSUS|26/assets/images/logo-sm.png NSUS|images/page-backgrounds/texture.jpg FSUS|26/assets/images/logo.png
